*{
    font-family: 'Manrope';
    font-weight: normal;
    background: #E5E5E5;
}

.logo {
    margin-left: 147px;
    float: left;
}

#menu, #menu li {

    margin: 0;

    padding: 0;
    
}

#menu {

    text-align: center;

}

#menu li{

    display:inline-block;

    text-align: center;

    width: 210px; /* задаем размер пункта можно в пикселях*/

}

#menu a {

    display: block;

    padding: 30px 15px;

    color: rgb(0, 0, 0);

    font-size: 14px;

    text-decoration: none;

    margin-right: 40px; /* добавляем отступы между пунктами */
    z-index: 4;
    font-weight: bold;
}

.span {
    background: black;
    color: white;
    width: 222px;
    border-radius: 50px;
    border: inherit;
    text-align: center;
    padding: 20px 26px 23px 26px;
    text-decoration: none;
    transition: all 0.5s ease;
    margin-left: 147px;
    margin-top: 10px;
}


.ball-blue {
    width:0px;
    height:0px;
    border-radius: 5px;
    box-shadow: 1500px 60px 160px 120px #71C3FD;
    z-index: 1;
    position: relative;
}

.ball-yellow {
    width:0px;
    height:0px;
    border-radius: 5px;
    box-shadow: 1350px -140px 160px 120px #FFC04D;
    z-index: 4;
    position: relative;
}

h1 {
    margin-left: 147px;
    font-size: 60px;
    margin-top: 156px;
    font-weight: bold;
}

h2{
    font-size: 23px;
    margin-left: 147px;
}

.container div{
    width: 100px;
    font-weight: bold;
    position: relative;
    right: 250px;
    left: -50;
    left: -50;
    bottom: 50px;

}

.chel {
    position: absolute;
    width: 545px;
    height: 810px;
    left: 756px;
    top: 146px;
    
}

form {
    margin-left: 147px;
    margin-top: 69px;
    position: relative;
    width: 496px;
    height: 82px;
    border-radius: 50px;
    background: white;
}

.btn {
    background: red;
    color: white;
    width: 222px;
    border-radius: 50px;
    border: inherit;
    text-align: center;
    padding: 20px 26px 23px 26px;
    text-decoration: none;
    transition: all 0.5s ease;
    margin-left: 147px;
    margin-top: 10px;
}

input[type="text"] {
    margin-top: 30px;
    margin-left: 30px;
    outline: none;
    border: none;
    background: white;
}

.ball{
    margin-left: 147px;
    width:0px;
   height:0px;
   border-radius:5px;
    box-shadow: 430px -310px 160px 120px #FE351F;
    z-index: 4;
    position: relative;
}

.ball-ball{
    margin-left: 147px;
    width:0px;
    height:0px;
    border-radius:5px;
    box-shadow: 300px -110px 130px 100px #FFC04D;
}

.predmet div{
    display: inline-block;
    margin-left: 147px;
    margin-top: 113px;
    
}

.radius {
    width: 51px;
    height: 102px;
    border: 5px solid #FFBD49;
    border-right: none;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.triangle-black {
    width: 14px;
    left: -406px;
    top: -43px;
    position: relative;
}

.glass {
    width: 84px;
    margin-left: -220px;
    margin-bottom: 15px;
}

.photo{
    width: 84px;
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

.shoes {
    width: 84px;
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

.triangle {
    width: 84px;
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

